@media only screen and (min-width: 320px) {
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
  }

  /* body {
    -webkit-text-size-adjust: none;
} */

.hero-section {
  margin-top : 50px;
  background-image: url("./images/handstand-placeholder.gif");
  height: 400px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

  .navbar {
    background: #ffe700;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
  }

  .bio-section {
    background: #ffc100;
    width: 100%;
    padding: 20px 0;
  }

  .all-projects-header {
    width: 100%;
    background: #ffa332;
    text-align: center;
    font-size: 28px;
    padding: 10px;
  }

  .chorely-container {
    width: 100%;
    background: #ff8d00;
  }

  .nosemaps-container {
    width: 100%;
    background: #ff6700;
  }

  .robot-container {
    width: 100%;
    background: #e55c00;
  }

  .tampon-container {
    width: 100%;
    background: #cc5200;
  }

  .contact-section {
    background: #ffe700;
    width: 100%;
    padding: 20px;
  }

  .greeting {
    padding-top: 100px;
    font-size: 25px;
    text-align: center;
    text-shadow: 1.5px 1.5px #ffa332;
  }

  .bio-text {
    padding: 10px;
    font-size: 18px;
    margin: 0 20px;
  }

  .nav-scroll {
    background: none;
    border: none;
    font-size: 20px;
    outline: none;
  }

  .nav-scroll:hover {
    cursor: pointer;
    color: #cc5200;
    text-decoration: underline;
  }

  .contact-line {
    padding: 5px;
    text-align: center;
  }

  .icon {
    height: 60px;
    margin: 0 10px 10px 10px;
  }

  .icon:hover {
    cursor: pointer;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);

  }

  .icon-box {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 70px;
  }

  a {
    color: black;
  }

  a:hover {
    color: #ff6700;
  }

  a:visited {
    color: #cc5200;
  }
}

.screenshot {
  margin: 15px;
  border: 10px solid rgba(255,255,255, 0.3);
}

.project-header {
  text-align: center;
  padding: 15px 0 0 0;
  font-size: 24px;
}

.project-description {
  padding: 5px 25px;
  text-align: center;
  font-size: 18px;
}

.image-contain {
  display: flex;
  justify-content: center;
}

.tech-contain {
  padding: 5px 0;
}

.tech-text, .explore-view {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  background: rgba(255,255,255, 0.3);
}

.tech-headline {
  margin-bottom: 10px;
  font-size: 21px;
  text-align: center;
}

li {
  font-size: 18px;
  line-height: 24px;
}

.explore-view {
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 15px;
  background: rgba(255,255,255, 0.5);
}

@media only screen and (min-width: 640px) {

  .bio-text {
    width: 85%;
    margin: 0 auto;
    font-size: 20px;
  }

  .greeting {
    font-size: 35px;
  }

  .project-content-contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .tech-contain {
    padding: 15px 0;
  }

}

@media only screen and (min-width: 1300px) {
  .bio-text {
    width: 75%;
  }

  .all-projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .project-description {
    height: 50px;
  }

  .greeting {
    padding-top: 50px;
  }

}
